.env
.idea

wp-app/wp-admin/
wp-app/wp-content/index.php
wp-app/wp-content/languages
wp-app/wp-content/plugins/index.php
wp-app/wp-content/themes/index.php
wp-app/wp-includes/
wp-app/index.php
wp-app/license.txt
wp-app/readme.html
wp-app/wp-*.php
wp-app/xmlrpc.php

wp-app/wp-content/themes/twenty*/
wp-app/wp-content/plugins/hello.php
wp-app/wp-content/uploads/
wp-app/*.log
wp-app/.htaccess

